<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes Listing</title>
</head>
<body>
    <a href="/">Home</a>
    <h3>All quotes</h3>
    
   
    @foreach(var quote in @ViewBag.quotes) {
            <div>

                    <p>@quote["quote"] </p>
                    <p>by @quote["name"]</p>
                    <p>on @quote["created_at"]</p>
                    <p></p>
            </div>
        }
    
</body>
</html>